Source: hfi1-firmware
Maintainer: Scibian Project <packaging@scibian.org>
Section: non-free/misc
Priority: extra
Standards-Version: 3.9.6
Homepage: http://www.intel.com
Vcs-Git: https://github.com/scibian/hfi1-firmware.git
Vcs-Browser: https://github.com/scibian/hfi1-firmware
Build-Depends: debhelper (>= 9),

Package: hfi1-firmware
Architecture: any
Depends: ${misc:Depends},
Description: Firmware for Gen1 HFI
 This package contains the firmware required by the Gen1 HFI driver.
 Usage of the firmware is subject to the terms and conditions contained
 inside the provided copyright file. Please read it carefully.

Package: hfi1-firmware-dbg
Architecture: any
Section: non-free/debug
Depends: hfi1-firmware (=${binary:Version}),
         ${misc:Depends},
Conflicts: hfi1-firmware-debug,
Replaces: hfi1-firmware-debug,
Description: Firmware for Gen1 HFI (debug)
 This package contains the debug firmware required by the Gen1 HFI driver.
 Usage of the firmware is subject to the terms and conditions contained
 inside the provided copyright file. Please read it carefully.
